<html>
    <head>
        <title>TTR - Training Tool Reaction</title>
        <!-- TODO change path -->
        <link rel = "icon" type = "image/png" href = "/static/MainStyle.css">
        <link href = "/static/MainStyle.css" rel = "stylesheet" type = "text/css">
        <script language = "JavaScript1.2">
        <!--
            function createAccount() {
                const link = document.createElement("a")
                
                usn = document.getElementById("txtUsn").value;
                psw = document.getElementById("txtPsw").value;

                document.write("siamo qui\n");
                // go back to login
                if (usn.length > 0 && psw.length > 0) {
                    csv += usn.concat(";", psw, "\n");
                    document.write(csv);
                }
        }
        -->
        </script>
    </head>
    <body>
        <center>
            <div class = "whiteBox">
                <h1 id = "login">Error-Sign Up</h1>
                <br>
                <form id = "frm">
                    <input type = "text" id = "txtUsn" placeholder = "Username" value = "" />
                    <br><br><br>
                    <input type = "password" id = "txtPsw" placeholder = "Password" value = "" />
                    <br><br><br>
                    <input type = "reset" id = "btnSmt" value = "Submit" onClick = "createAccount()" />
                    <!-- TODO add error message -->
            
                </form>
            </div>
        </center>
    </body>
</html>