<!-- TODO da fare tutto -->


<html>
    <head>
        <title>TTR - Training Tool Reaction</title>
        <!-- TODO change path -->
        <link rel = "icon" type = "image/png" href = "/static/Favicon.png"/>
        <link href = "/static/MainStyle.css" rel = "stylesheet" type = "text/css">
        <script type="text/javascript" src="processing.js"></script>
    
    </head>
    <body>
        <center>
            <!--
            <div class = "whiteBoxBig">
                <h1 id = "login">Training Tool for Reaction Time</h1>
                <br>
            </div> -->

            <canvas data-processing-sources="Final.pde"></canvas>
        </center>
    </body>
</html>




<!-- per prendere i valori tipo "ciao username"
{% for key,value in form_data.items() %}
<h2> {{key}}</h2>
<p> {{value}}</p>
{% endfor %}

 -->