@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap'); /* Noto Sans font */

/* background */
body {
    background-image: linear-gradient(to left bottom, #f6e27d, #eec065, #e39f54, #d57e49, #c35e42, #b6494d, #a13957, #872f5e, #623669, #3a3966, #173756, #093040);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* box white */
.whiteBox {
    background-color: #FFFFFF;
    height: 500px;
    width: 350px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 3.5px solid #DCD0CE;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* login */
#login {
    color: #000000;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 50px;
}

#logout {
    color: #000000;
    position: absolute;
    right: 0px;
    width: 100px;
    font-family: "Poppins", sans-serif;
    font-size: small;
    font-weight: bold;
    padding-top: 10px;
}

#title {
    color: #000000;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 10px;
}

#sent{
    color: #000000;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: medium;
    padding-top: 10px;
    padding-left: 25 px;
}

/* input cell */
input {
    width: 200px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #d9dcdc;
    padding: 10px 10px;
    font-family: "Noto Sans", sans-serif;
}

/* input behavior: changes color of bg from trasparent to grey*/
input:focus {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #d9dcdc;
    background: #ECEEEE;
}

/* reset of submit, deletes forms of username and psw when clicked submit */
/* note: qua ho cambiato per matchare con il main */
input[type = "submit"] {
    background: #f6e27d;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
    border-radius: 25px;
}

/* link of signup page, do not change color when clicked or not*/
a:link, a:visited {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: x-small;
}


/* error message */
input[type = "error"] {
    color: #b21414;
    font-weight: bold;
    background: #f1dede;
    border-radius: 5px;
    width: 200px;
    border: 0;
    outline: 0;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

/* message */
input[type = "message"] {
    color: #300c8a;
    font-weight: bold;
    width: 200px;
    border: 0;
    outline: 0;
    padding: 10px 10px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}


/* box white 90vh*/
.whiteBoxBig {
    background-color: #FFFFFF;
    height: 140vh;
    width: 96vw;
    box-sizing: border-box;
    border-radius: 25px;
    border: 3.5px solid #DCD0CE;
    position: absolute;
    top: 500;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


#newTrial {
    background: #f6e27d;
    border: 3px solid #E7B327;
    height: 10vh;
    width: 600px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    font-size: large;
}


.chartBox1 {
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(255, 255, 255);
    background: white;
    position: absolute;
    top: 600;
    left: 50px;
    right: 50vw;
    bottom: 20px;
    height: 40vh;
    width: 35vw;
    margin: auto;
}

.chartBox2 {
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgb(255, 255, 255);
    background: white;
    position: absolute;
    top: 600;
    left:  50vw;
    right: 50px;
    bottom: 25px;
    height: 40vh;
    width: 35vw;
    margin: auto;
}




/* -------- */
