<!DOCTYPE html>
<html>
    <head>
        <title>TTR - Training Tool Reaction</title>
        <link rel = "icon" type = "image/png" href = "/static/Favicon.png"/>
        <link href = "/static/MainStyle.css" rel = "stylesheet" type = "text/css">
        <script language = "JavaScript1.2">
        </script>
    </head>
    <body>
        <center>
            <div class = "whiteBox">
                <h1 id = "login">Sign Up</h1>
                <br>
                <form action="/Login" method = "POST">
                    <input type = "text" id = "txtUsn" placeholder = "Username" name = "Username" />
                    <br><br><br>
                    <input type = "password" id = "txtPsw" placeholder = "Password" name = "Password" />
                    <br><br><br>
                    <input type = "submit" id = "btnSmt" value = "submit" />
                    <br><br><br>
                    <a href = "/" title = "Login">Login</a>
                </form>
            </div>
        </center>
    </body>
</html>
